@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #55439e, #952fff);
}

.main-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url('./imagens/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img-left-bottom {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 180px;
  bottom: 150px;
}

#img-left-top {
  width: 290.25px;
  height: 267.16px;
  position: absolute;
  top: -100px;
  left: -30px;
}

#img-right {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0;
  top: 200px;
}

.info {
  width: 100%;
  max-width: 1117px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}

.info_title {
  width: 480px;
}

.info_title h1 {
  font-family: Lato, sans-serif;
  width: 431px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  text-transform: capitalize;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}

.info_title p {
  font-family: Open Sans, sans-serif;
  width: 382px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: white;
  margin-top: 0;
  margin-bottom: 60px;
}

.info_submit {
  width: 100%;
  position: relative;
}

.info_submit input {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  padding-left: 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.info_submit input::placeholder {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #cd8fd8;
}

.info_submit button {
  width: 120px;
  height: 60px;
  background-color: #4f3aa7;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: white;
  outline: none;
  border: none;
  position: absolute;
  top: 12px;
  right: -20px;
}
.info_submit button:hover {
  background-color: violet;
  transition: 0.6s;
}

.info_card .card {
  width: 500px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  padding: 40px 50px;
}

.info_card .card::before {
  content: '';
  border: 2px solid rgba(255, 255, 255, 0.26);
  border-right: none;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  border-radius: 20px 0 0 20px;
}

.info_card .card::after {
  content: '';
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  border-radius: 0 20px 20px 0;
}

.card_title h2 {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-style: 20px;
  line-height: 30px;
  color: white;
  margin-top: 0;
  margin-bottom: 46px;
}

.card_chip {
  margin-bottom: 45px;
}
.card_chip img {
  width: 60px;
  height: 43px;
}

.card_footer {
  display: flex;
  justify-content: space-between;
}

.card_footer div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card_footer .card_footer-info p {
  margin: 0;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: white;
}
.card_footer .card_footer-info p:first-child {
  margin-bottom: 8px;
}

.footer-text {
  font-family: Lato, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 18px;
}

.footer-text-big {
  letter-spacing: 0.07em;
  font-size: 20px;
  line-height: 30px;
}
